## Session 4

### task 1

#### Problem Statement:
Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [7]:
import numpy as np
from numpy import convolve
import matplotlib.pyplot as plt
 
def movingaverage (values, window):
    weights = np.repeat(1.0, window)/window
    #print(weights)
    ma = np.convolve(values, weights, 'valid')
    return ma
 
#x = [10,20,30,40,50,60,70,80,90,100]
y = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
 
yMA = movingaverage(y,4)
print (yMA)

[  4.25   5.5    6.75   7.75  23.5   39.5   57.25  79.25  88.   107.5 ]

### task 2

#### 1 <br>
How-to-count-distance-to-the-previous-zero <br><br>
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)<br><br>
create a new column 'Y'<br><br>
Consider a DataFrame df where there is an integer column 'X'<br><br>
import pandas as pd<br><br>
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
distance = []
for x in df.index:
    
    if(x <= 1):
        distance.append(x)
    elif(x <= 6):
        
        distance.append(x-2)
    elif(x >=7 and x <=10):
        distance.append(x-7)
        
#print(distance)
df['z'] =  distance
df.head(10)

   X  z
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

##### 2
Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [3]:
import datetime as dt
import pandas as pd
import random as rand
import numpy as np

start = dt.datetime(2015, 1, 1)
end = dt.datetime(2015, 12, 31)
col = ['Random_No']
index = pd.bdate_range(start, end)
list_of_series = pd.Series(np.random.randint(1,index.size,index.size),index=index)
list_of_series

2015-01-01     68
2015-01-02    172
2015-01-05    242
2015-01-06     16
2015-01-07    227
2015-01-08    137
2015-01-09    189
2015-01-12     18
2015-01-13    177
2015-01-14     52
2015-01-15     83
2015-01-16     35
2015-01-19    127
2015-01-20    226
2015-01-21    117
2015-01-22    154
2015-01-23     44
2015-01-26     55
2015-01-27    230
2015-01-28     15
2015-01-29    254
2015-01-30    255
2015-02-02    100
2015-02-03    179
2015-02-04     84
2015-02-05    111
2015-02-06      9
2015-02-09    188
2015-02-10    210
2015-02-11    153
             ...
2015-11-20     13
2015-11-23    227
2015-11-24    202
2015-11-25    258
2015-11-26    260
2015-11-27    177
2015-11-30     87
2015-12-01    158
2015-12-02     43
2015-12-03    178
2015-12-04    122
2015-12-07    205
2015-12-08    237
2015-12-09    186
2015-12-10    204
2015-12-11     87
2015-12-14    220
2015-12-15    156
2015-12-16    249
2015-12-17     62
2015-12-18    220
2015-12-21      5
2015-12-22    174
2015-12-23     75
2015-12-24    146
2015-12-25    231
2015-12-28     58
2015-12-29    163
2015-12-30    121
2015-12-31    202
Freq: B, Length: 261, dtype: int32

</r>

##### 3 <br>

Find the sum of the values in s for every Wednesday

In [4]:
df = pd.DataFrame(list_of_series, columns=col)

df['WeekDay'] = index.weekday_name
#df.index.name='Index_No'
wednesday_random_no= df[df['WeekDay']=='Wednesday'].Random_No
print("sum of the values in s for every Wednesday is {}".format(wednesday_random_no.sum()))

sum of the values in s for every Wednesday is 7327

#### 4

Average For each calendar month

In [5]:
"""First option to calculate Average"""
average_each_calendar=df.groupby(pd.Grouper(freq="M")).mean()
print("First option -- Average For each calendar month\n",average_each_calendar,"\n\n")

"""Second option to calculate Average"""
print("Second option -- Average For each calendar month\n",df.groupby(df.index.month).mean(),"\n\n")

"""Third option to calculate Average"""
print("Third option -- Average For each calendar month\n",df.groupby(df.index.month).agg({'Random_No':'mean'}),"\n\n")

First option -- Average For each calendar month
              Random_No
2015-01-31  131.500000
2015-02-28  126.250000
2015-03-31  143.500000
2015-04-30   97.181818
2015-05-31  150.095238
2015-06-30  147.772727
2015-07-31  131.043478
2015-08-31  129.809524
2015-09-30  129.954545
2015-10-31  147.772727
2015-11-30  128.142857
2015-12-31  152.260870


Second option -- Average For each calendar month
      Random_No
1   131.500000
2   126.250000
3   143.500000
4    97.181818
5   150.095238
6   147.772727
7   131.043478
8   129.809524
9   129.954545
10  147.772727
11  128.142857
12  152.260870


Third option -- Average For each calendar month
      Random_No
1   131.500000
2   126.250000
3   143.500000
4    97.181818
5   150.095238
6   147.772727
7   131.043478
8   129.809524
9   129.954545
10  147.772727
11  128.142857
12  152.260870

#### 5

For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.

In [6]:
df.groupby(pd.Grouper(freq='4MS',label='right')).max()

            Random_No    WeekDay
2015-05-01        257  Wednesday
2015-09-01        252  Wednesday
2016-01-01        260  Wednesday